.ws-todo-container {
  width: 20rem;
  background-color: white;
  border-radius: 2px;
  padding: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .14);
}

.todo-header {
  h1 {
    font-size: 1.6rem;
    font-weight: 100;
    color: #666;
    margin: 0;
  }

  input {
    font-size: .8rem;
    border: none;
    width: 100%;
    outline: none;
    padding: .5rem;
    color: #666;
    border-bottom: 1px solid #e2e2e2;
  }

  .todo-header__container {
    display: flex;
  }

  .todo-header__btn {
    cursor: pointer;
    font-size: .7rem;
    color: #666;
    background-color: white;
    padding: .5rem 1rem;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin-left: .5rem;
    outline: none;
    font-weight: 100;
    &:hover {
      color: #0bc;
      transition: all .3s ease;
      border: 1px solid #0bc;
    }
  }
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    position: relative;
    padding: .5rem 0;
    font-size: .8rem;
    color: #666;
    border-bottom: 1px dashed #e2e2e2;
    display: flex;
    align-items: center;

    .content {
      margin: 0;
      color: #333;
      &.done {
        text-decoration: line-through;
        color: #777;
      }
    }

    .checkbox {
      font-family: Capitals, sans-serif;
      align-items: center;
      justify-content: center;
      display: flex;
      width: 1.2rem;
      height: 1.2rem;
      border: 1px solid #e2e2e2;
      cursor: pointer;
      margin-right: .25rem;
      border-radius: 50%;
      &.done {
        border: 1px solid #0bc;
        color: #0bc;
      }
    }

    .del {
      position: absolute;
      right: .5rem;
      font-family: Capitals, sans-serif;
      cursor: pointer;
      color: #999;
      transition: all .3s ease;
      &:hover {
        color: #666;
      }
    }
  }
}
